@font-face {
    font-family: 'Eurostile Extended';
    src: url('../fonts/EuroStile_Regular/EurostileExtended-Roman.eot');
    src: 
    url('../fonts/EuroStile_Regular/EurostileExtended-Roman.woff') format('woff'),
    url('../fonts/EuroStile_Regular/EurostileExtended-Roman.woff2') format('woff2'),
    url('../fonts/EuroStile_Regular/EurostileExtended-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Eurostile Bold';
    src: url('../fonts/EuroStile_Extended/EurostileBold.eot');
    src: 
    url('../fonts/EuroStile_Extended/EuroStileBold.woff') format('woff'),
    url('../fonts/EuroStile_Extended/EuroStileBold.woff2') format('woff2'),
    url('../fonts/EuroStile_Extended/EuroStileBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Eurostile Extended Black';
    src: url('../fonts/EuroStile_Extended_Black/eurostile_extended_black.eot');
    src: 
    url('../fonts/EuroStile_Extended_Black/eurostile_extended_black.woff') format('woff'),
    url('../fonts/EuroStile_Extended_Black/eurostile_extended_black.woff2') format('woff2'),
    url('../fonts/EuroStile_Extended_Black/eurostile_extended_black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter Light';
    src: url('../fonts/Inter_Light/Inter-LightBETA.eot');
    src: 
    url('../fonts/Inter_Light/Inter-LightBETA.woff') format('woff'),
    url('../fonts/Inter_Light/Inter-LightBETA.woff2') format('woff2'),
    url('../fonts/Inter_Light/Inter-LightBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter_Regular/Inter-Regular.eot');
    src: 
    url('../fonts/Inter_Regular/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter_Regular/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter_Regular/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter Medium';
    src: url('../fonts/Inter_Medium/Inter-Medium.eot');
    src: 
    url('../fonts/Inter_Medium/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter_Medium/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter_Medium/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
