@font-face {
  font-family: "Eurostile Extended";
  src: url("../fonts/EuroStile_Regular/EurostileExtended-Roman.eot");
  src: url("../fonts/EuroStile_Regular/EurostileExtended-Roman.woff") format("woff"), url("../fonts/EuroStile_Regular/EurostileExtended-Roman.woff2") format("woff2"), url("../fonts/EuroStile_Regular/EurostileExtended-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Eurostile Bold";
  src: url("../fonts/EuroStile_Extended/EurostileBold.eot");
  src: url("../fonts/EuroStile_Extended/EuroStileBold.woff") format("woff"), url("../fonts/EuroStile_Extended/EuroStileBold.woff2") format("woff2"), url("../fonts/EuroStile_Extended/EuroStileBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Eurostile Extended Black";
  src: url("../fonts/EuroStile_Extended_Black/eurostile_extended_black.eot");
  src: url("../fonts/EuroStile_Extended_Black/eurostile_extended_black.woff") format("woff"), url("../fonts/EuroStile_Extended_Black/eurostile_extended_black.woff2") format("woff2"), url("../fonts/EuroStile_Extended_Black/eurostile_extended_black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Light";
  src: url("../fonts/Inter_Light/Inter-LightBETA.eot");
  src: url("../fonts/Inter_Light/Inter-LightBETA.woff") format("woff"), url("../fonts/Inter_Light/Inter-LightBETA.woff2") format("woff2"), url("../fonts/Inter_Light/Inter-LightBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Regular";
  src: url("../fonts/Inter_Regular/Inter-Regular.eot");
  src: url("../fonts/Inter_Regular/Inter-Regular.woff") format("woff"), url("../fonts/Inter_Regular/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter_Regular/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter_Medium/Inter-Medium.eot");
  src: url("../fonts/Inter_Medium/Inter-Medium.woff") format("woff"), url("../fonts/Inter_Medium/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter_Medium/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 14px;
}

body {
  font-size: 1rem;
  font-family: "Eurostile Extended", sans-serif;
  background: #f1f0eb;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__links {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 1.429rem;
}
.contact__links:last-child {
  margin-right: 0;
}
.contact__links--whatsapp {
  background: url("../img/whatsapp.png") no-repeat center/contain;
}
.contact__links--telegram {
  background: url("../img/telegram.png") no-repeat center/contain;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__link {
  padding: 1.5rem 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Eurostile Extended", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.title {
  max-width: 48.071rem;
  width: 100%;
  margin: 0 auto;
  font-size: 1.714rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Eurostile Extended Black", sans-serif;
  text-align: center;
}

.btn {
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid #4071cb;
  text-align: center;
  cursor: pointer;
  font-family: "Eurostile Extended", sans-serif;
  background: transparent;
}

.hero {
  position: relative;
}
.hero__container {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  background: url("../img/hero-bg.png") no-repeat center/cover;
  background-attachment: fixed;
  border-radius: 0 0 30px 30px;
  padding-bottom: 11.857rem;
}
.hero__container--height-auto {
  min-height: auto;
}
.hero__container::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
  background: rgba(16, 10, 0, 0.4);
}
.hero__text {
  width: 100%;
  margin-top: 12.643rem;
  text-transform: uppercase;
  font-family: "Eurostile Extended Black", sans-serif;
}
.hero__text--light {
  color: #fff;
}
.hero__title {
  margin-bottom: 2.143rem;
  font-size: 3.5rem;
}
.hero__subtitle {
  font-size: 2.786rem;
}

.header--light * {
  color: #fff;
}
.header--light .header-top, .header--light .header-bottom {
  border-bottom: 1px solid #fff;
}
.header--light .open-menu span {
  background: #fff;
}
.header--light .open-menu span::before, .header--light .open-menu span::after {
  background: #fff;
}
.header--light .logo a {
  display: block;
  height: 3.714rem;
  background: url("../img/logo-light.png") no-repeat center/contain;
}
.header--light .header-hideCall__btn {
  background: url("../img/phone-light.png") no-repeat center/contain;
}
.header--light .header-buttons::after {
  border-color: #fff;
}
.header--dark * {
  color: #000;
}
.header--dark .header-top, .header--dark .header-bottom {
  border-bottom: 1px solid #d9d9d9;
}
.header--dark .open-menu span {
  background: #000;
}
.header--dark .open-menu span::before, .header--dark .open-menu span::after {
  background: #000;
}
.header--dark .logo a {
  display: block;
  height: 3.714rem;
  background: url("../img/logo-dark.png") no-repeat center/contain;
}
.header--dark .header-hideCall__btn {
  background: url("../img/phone-dark.png") no-repeat center/contain;
}
.header--dark .header-callback {
  color: #fff;
}
.header--dark .header-buttons::after {
  border-color: #000;
}
.header-buttons {
  position: relative;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-buttons::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 5px;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transform: translateY(-2px) rotate(45deg);
      -ms-transform: translateY(-2px) rotate(45deg);
          transform: translateY(-2px) rotate(45deg);
}
.header-buttons:hover .header-buttons__droplist {
  -webkit-transform: translateY(0) scaleY(1);
      -ms-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
}
.header-buttons__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-buttons__droplist {
  position: absolute;
  top: 100%;
  left: 0;
  width: 120%;
  background: #fff;
  -webkit-transform: translateY(-50%) scaleY(0);
      -ms-transform: translateY(-50%) scaleY(0);
          transform: translateY(-50%) scaleY(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-buttons__droplist li {
  color: #000;
  font-family: "Inter Regular", sans-serif;
  padding: 10px 5px;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-buttons__droplist li:hover {
  background: #4071cb;
  color: #fff;
}
.header-changes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter Regular", sans-serif;
  font-size: 1rem;
}
.header-changes__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.571rem;
  cursor: pointer;
}
.header-changes__button:last-child {
  margin-right: 0;
}
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-contacts__phone {
  margin-right: 1.429rem;
}
.header-contacts__callback {
  margin-right: 2.143rem;
  padding: 1.286rem 3.571rem;
  background: #000;
  cursor: pointer;
}
.header-phone {
  text-decoration: none;
  font-family: "Eurostile Extended", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.header-callback {
  font-family: "Inter Medium", sans-serif;
  letter-spacing: 0.5px;
}

.scroll-down {
  position: absolute;
  z-index: 12;
  left: 50%;
  bottom: -1%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.scroll-down__wrapper {
  position: relative;
  width: 22.429rem;
  height: 7.429rem;
  overflow: hidden;
}
.scroll-down__trapezoid {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f1f0eb;
  border-radius: 20px 20px 0 0;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(150px) rotateX(45deg);
          transform: perspective(150px) rotateX(45deg);
}
.scroll-down__text {
  position: absolute;
  z-index: 6;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
      -ms-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  text-transform: uppercase;
  color: #000;
  font-family: "Eurostile Extended Black";
  font-size: 1.286rem;
}

.services__container {
  padding-top: 7.143rem;
  padding-bottom: 14rem;
}
.services__container--pt-50 {
  padding-top: 3.571rem;
}
.services__container--pb-80 {
  padding-bottom: 5.714rem;
}
.services__card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.services__card::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.services__card--big {
  height: 45.714rem;
}
.services__card--small {
  height: 22rem;
  margin-bottom: 1.714rem;
}
.services__card--small:last-child {
  margin-bottom: 0;
}
.services__img {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.services__img img {
  width: 100%;
}
.services__text {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 2.143rem;
}
.services__text * {
  color: #fff;
}
.services__title {
  font-size: 1.714rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.services__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.services__button a {
  padding: 1.679rem 3.143rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border: 1px solid #4f4f4f;
}

.vehicle__container {
  padding-bottom: 4.286rem;
}
.vehicle__title {
  margin-bottom: 1.423rem;
}
.vehicle-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4.429rem;
}
.vehicle-tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 1.571rem 0;
  border: 1px solid #d9d9d9;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.143rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.vehicle-tabs__item:first-child {
  border-radius: 20px 0 0 20px;
  border-right: none;
}
.vehicle-tabs__item:last-child {
  border-left: none;
  border-radius: 0 20px 20px 0;
}
.vehicle-tabs__item--active {
  background: #4071cb;
  border-color: #4071cb;
  color: #fff;
}
.vehicle-item {
  display: none;
}
.vehicle .types-card {
  display: block;
  margin-bottom: 1.429rem;
}
.vehicle .types-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.143rem;
}
.vehicle .types-card__img img {
  width: 100%;
}
.vehicle .types-card__title {
  display: block;
  margin-top: 0.714rem;
  text-align: center;
  font-size: 1rem;
  color: #4071cb;
}
.vehicle .types__btnHide {
  display: none;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.vehicle .brands-card {
  display: block;
  margin-bottom: 1.429rem;
}
.vehicle .brands-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.143rem;
}
.vehicle .brands-card__title {
  display: block;
  margin-top: 0.714rem;
  text-align: center;
  font-size: 1rem;
  color: #4071cb;
}
.vehicle .brands__btnHide {
  display: none;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.vehicle__btn {
  margin-top: 1.429rem;
  color: #4071cb;
  padding: 10px 6.143rem;
}

.deals__container, .goods__container {
  padding-bottom: 4.289rem;
}
.deals__title, .goods__title {
  margin-bottom: 2.5rem;
}
.deals-card, .goods-card {
  position: relative;
  z-index: 2;
  margin-bottom: 2.429rem;
  padding: 1.429rem;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  cursor: default;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.deals-card:hover, .goods-card:hover {
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.deals-card:hover .card-img__back, .goods-card:hover .card-img__back {
  color: #F1F0EB;
}
.deals-card:hover .card-img img, .goods-card:hover .card-img img {
  -webkit-transform: translate(25px, 10px);
      -ms-transform: translate(25px, 10px);
          transform: translate(25px, 10px);
}
.deals-card__info, .goods-card__info {
  min-height: 4rem;
}
.deals-card__title, .goods-card__title {
  margin-bottom: 6px;
}
.deals-card .card-title__text, .goods-card .card-title__text {
  font-size: 1.143rem;
  font-weight: 700;
  line-height: 1.143rem;
}
.deals-card .card-title__new, .goods-card .card-title__new {
  text-transform: uppercase;
  color: #4071cb;
  text-align: right;
  font-size: 10px;
}
.deals-card .card-title__new::before, .goods-card .card-title__new::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  margin-right: 3px;
  background: #4071cb;
  border-radius: 50%;
}
.deals-card__img, .goods-card__img {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.249rem;
}
.deals-card__img img, .goods-card__img img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.deals-card .card-img__back, .goods-card .card-img__back {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.143rem;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Eurostile Extended Black", sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.deals-card__props, .goods-card__props {
  margin-top: 1.249rem;
  margin-bottom: 0.714rem;
}
.deals-card .card-props, .goods-card .card-props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.deals-card .card-props__item, .goods-card .card-props__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.249rem;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.deals-card .card-props__item:last-child, .goods-card .card-props__item:last-child {
  margin-right: 0;
}
.deals-card .card-props__item p, .goods-card .card-props__item p {
  margin-left: 5px;
}
.deals-card__btn, .goods-card__btn {
  padding: 14px;
  color: #000;
  font-family: "Eurostile Extended Black", sans-serif;
  border-color: #000;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.deals-card__btn:hover, .goods-card__btn:hover {
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}
.deals__btn, .deals__btnHide, .goods__btn, .goods__btnHide {
  display: none;
}

.purchase__container {
  padding-bottom: 7.857rem;
}
.purchase__img {
  border-radius: 30px;
  overflow: hidden;
}
.purchase__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.purchase__title {
  margin-top: 11.786rem;
  margin-bottom: 1.786rem;
  font-weight: 700;
}
.purchase-item {
  min-height: 17.857rem;
  margin-bottom: 1.286rem;
  padding: 1.429rem;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}
.purchase-item__number, .purchase-item__title {
  font-weight: 700;
}
.purchase-item__number {
  margin-bottom: 2.857rem;
  font-size: 2.286rem;
}
.purchase-item__title {
  margin-bottom: 0.571rem;
  font-size: 1.714rem;
}
.purchase-item__text {
  max-width: 27.143rem;
  width: 100%;
  font-family: "Inter Regular", sans-serif;
  font-size: 1.286rem;
  line-height: 1.714rem;
}
.purchase-item__btn {
  border-color: #d9d9d9;
  padding: 1rem 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
}

.features__container {
  padding-bottom: 11.929rem;
}
.features__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 50rem;
  padding: 25px;
  border-radius: 30px;
  overflow: hidden;
  background: url("../img/features-bg.png") no-repeat center/cover;
}
.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 23.214rem;
  padding: 2.143rem 1.071rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  overflow: hidden;
}
.features-item .features-title__text {
  font-size: 1.714rem;
  line-height: 2rem;
  text-transform: uppercase;
}
.features-item .features-title__arrow {
  display: none;
  width: 22px;
  height: 22px;
  background: url("../img/arrow.svg") no-repeat center/contain;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.features-item .features-title__arrow--active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.features-item__text {
  font-size: 1rem;
  line-height: 1.286rem;
}

.detail__container {
  padding-top: 3.143rem;
  padding-bottom: 5.714rem;
}
.detail__wrapper {
  position: relative;
}
.detail-path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.detail-path span {
  display: block;
  font-size: 1rem;
}
.detail-path span::after {
  content: "";
  display: inline-block;
  width: 0.357rem;
  height: 0.357rem;
  vertical-align: middle;
  margin: 0 0.714rem;
  border-radius: 50%;
  background: #000;
}
.detail-path span:last-child::after {
  display: none;
}
.detail__title {
  margin-top: 4.286rem;
  margin-bottom: 3.214rem;
  font-size: 2.286rem;
  letter-spacing: 2px;
  font-weight: 700;
}
.detail-slider {
  border-radius: 30px;
  overflow: hidden;
}
.detail-slider__wrapper {
  position: relative;
}
.detail-slider__img {
  height: 36.429rem;
  border-radius: 30px;
  overflow: hidden;
}
.detail-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.detail-card {
  padding: 2.857rem;
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
}
.detail-card--big-hide {
  display: none;
}
.detail-card--big-show {
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
}
.detail-card__title {
  margin-bottom: 2.143rem;
  font-size: 1.714rem;
  font-weight: 700;
}
.detail-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.786rem;
}
.detail-card__list:last-child {
  margin-bottom: 0;
}
.detail-card .card-list__title {
  font-size: 1rem;
}
.detail-card .card-list__prop {
  text-align: right;
  font-size: 1rem;
  font-family: "Eurostile Extended Black", sans-serif;
}
.detail-card .card-list sup {
  font-size: 0.7rem;
  vertical-align: top;
}
.detail-card__btn {
  width: 100%;
  margin-top: 6.071rem;
  padding: 1.714rem 0;
  border: 0.5px solid #4f4f4f;
  background: transparent;
  color: #4f4f4f;
  text-transform: uppercase;
  font-family: "Eurostile Extended Black", sans-serif;
}
.detail__description {
  margin-top: 1.429rem;
  border-radius: 30px;
  overflow: hidden;
  background: #fff;
}
.detail__description .description__title {
  margin-bottom: 1rem;
  padding: 2.143rem 0 0 2.143rem;
  font-weight: 700;
  font-size: 1.714rem;
}
.detail__description .description__text {
  max-width: 45.857rem;
  width: 100%;
  padding: 0 2.143rem;
  font-size: 1.143rem;
  font-family: "Inter Light", sans-serif;
  line-height: 1.429rem;
}
.detail__description .description__wrapper {
  margin-top: 1.789rem;
}
.detail__description .description-item {
  padding: 2.143rem 5px 2.857rem 1.071rem;
}
.detail__description .description-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  margin-bottom: 3.214rem;
}
.detail__description .description-item__name {
  font-size: 12px;
}
.detail__description .description-item__props {
  margin-top: 5px;
  font-size: 13px;
  color: #4f4f4f;
  font-family: "Eurostile Extended Black";
}
.detail__description .description__btn-more, .detail__description .description__btn-moreHide {
  display: none;
  margin: 0 2.143rem;
  margin-top: 1.667rem;
  text-transform: uppercase;
  font-family: "Eurostile Extended Black", sans-serif;
  color: #4f4f4f;
  cursor: pointer;
  font-size: 12px;
}
.detail__description .col-6 {
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.detail__description .col-6:nth-child(3n) {
  border-right: none;
}
.detail .slick-prev, .detail .slick-next {
  position: absolute;
  z-index: 5;
  top: 100%;
  width: 3.571rem;
  height: 3.214rem;
  border: none;
}
.detail .slick-prev::before, .detail .slick-next::before {
  display: none;
}
.detail .slick-prev {
  left: 100%;
  border-radius: 12px 0 0 12px;
  background: #f1f0eb url("../img/arrow-prev.svg") no-repeat center;
  -webkit-transform: translate(-8.9275rem, -5.357rem);
      -ms-transform: translate(-8.9275rem, -5.357rem);
          transform: translate(-8.9275rem, -5.357rem);
  border-right: 1px solid #d9d9d9;
}
.detail .slick-next {
  -webkit-transform: translate(-1.786rem, -5.357rem);
      -ms-transform: translate(-1.786rem, -5.357rem);
          transform: translate(-1.786rem, -5.357rem);
  right: 0;
  background: #f1f0eb url("../img/arrow-next.svg") no-repeat center;
  border-radius: 0 12px 12px 0;
}

.catalog__wrapper {
  margin-top: 6.714rem;
}
.catalog__filter-btn {
  display: none;
}
.catalog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.714rem;
  margin-bottom: 7.286rem;
}
.catalog-pagination__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #989898;
  border-radius: 4px;
  overflow: hidden;
}
.catalog-pagination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.214rem;
  height: 3.214rem;
  border: none;
  border-right: 1px solid #989898;
  background: transparent;
  color: #989898;
  font-family: "Inter Medium", sans-serif;
  font-size: 1.286rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.catalog-pagination__item:last-child {
  border: none;
}
.catalog-pagination__item:hover {
  background: #4071cb;
  color: #fff;
}
.catalog-pagination__arrow {
  font-size: 1.571rem;
}

.filter {
  background: #fff;
  padding: 0 9px;
}
.filter * {
  font-family: "Inter Medium", sans-serif;
}
.filter-item {
  padding-top: 1.786rem;
  padding-bottom: 2.143rem;
  border-bottom: 1px solid #d9d9d9;
}
.filter-price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filter-price__text {
  margin-top: 2.143rem;
  font-size: 12px;
}
.filter-price__text span {
  color: #4071cb;
}
.filter__title {
  margin-bottom: 9px;
  font-size: 1.143rem;
  font-weight: 600;
}
.filter .select {
  margin-top: 9px;
  position: relative;
  display: block;
  max-width: 9.429rem;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.filter .select::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 8px;
  display: block;
  width: 10px;
  height: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/arrow-down.svg") no-repeat center/contain;
}
.filter .new-select {
  position: relative;
  z-index: 2;
  padding: 6px 8px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
}
.filter .new-select__list {
  position: absolute;
  z-index: 4;
  top: 100%;
  left: 0;
  border: 1px solid #d9d9d9;
  width: 100%;
  background: #fff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
}
.filter .new-select__list.on {
  display: block;
}
.filter .new-select__item span {
  display: block;
  padding: 6px 8px;
}
.filter-style__checkboxes {
  position: relative;
}
.filter-style__checkboxes input {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -2;
  opacity: 0;
}
.filter-style__label {
  display: block;
  margin-top: 12px;
  padding: 1.214rem 0;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.filter-style__label--active {
  border-color: #4071cb;
  background: #4071cb;
  color: #fff;
}
.filter-deals__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filter-deals__label {
  cursor: pointer;
  font-size: 12px;
  color: #4f4f4f;
}
.filter-deals__checkbox {
  width: 1.214rem;
  height: 1.214rem;
  border: 1px solid #4f4f4f;
  margin: 0;
}
.filter-select__item {
  position: relative;
  margin-bottom: 7px;
}
.filter-select__checkbox {
  position: absolute;
  z-index: -2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}
.filter-select__label {
  display: block;
  border-radius: 4px;
  padding: 6px 0;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.filter-select__label--active {
  border-color: #4071cb;
  -webkit-box-shadow: 0 0 3px rgba(64, 113, 203, 0.4);
          box-shadow: 0 0 3px rgba(64, 113, 203, 0.4);
}
.filter-select__label img {
  height: 3.214rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
}
.filter-select__label span {
  display: block;
  font-size: 10px;
  font-family: "Inter Light", sans-serif;
  text-align: center;
  color: #4f4f4f;
}

.footer-top {
  padding: 3.357rem 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.footer-info__logo {
  margin-bottom: 1.286rem;
}
.footer-info__text {
  max-width: 16.857rem;
  margin-bottom: 3.357rem;
  color: #4f4f4f;
  font-size: 1rem;
  line-height: 1.286rem;
}
.footer-info .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-info .footer-nav__link {
  margin-right: 1.143rem;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
}
.footer-info .footer-nav__link:last-child {
  margin-right: 0;
}
.footer-contacts__phone {
  margin-bottom: 1.429rem;
}
.footer-contacts .contacts-phone__text {
  margin-bottom: 1.286rem;
  font-family: "Inter Light", sans-serif;
  font-size: 12px;
}
.footer-contacts .contacts-phone__number {
  font-size: 1.714rem;
  letter-spacing: 1.5px;
  color: #000;
}
.footer-contacts__messangers {
  margin-bottom: 1.429rem;
}
.footer-contacts__btn {
  display: inline-block;
  margin: 1.429rem 0;
  padding: 1.286rem 3.571rem;
  border-radius: 6px;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-family: "Inter Medium", sans-serif;
  letter-spacing: 1px;
}
.footer-contacts .contacts-address__text {
  margin-bottom: 7px;
  font-family: "Inter Light", sans-serif;
  font-size: 12px;
}
.footer-contacts .contacts-address__info {
  font-size: 12px;
}
.footer-bottom {
  padding-top: 1.429rem;
  padding-bottom: 10rem;
}
.footer-term {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 7.143rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
}
.footer-term__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-term .term-popup {
  position: relative;
  width: 16px;
  height: 16px;
}
.footer-term .term-popup:hover .term-popup__text {
  display: block;
}
.footer-term .term-popup__img {
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer-term .term-popup__text {
  display: none;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 100%;
  width: 12.143rem;
  height: 50px;
  padding: 0.714rem 5px;
  font-family: "Inter Light", sans-serif;
  font-size: 0.714rem;
  border-radius: 3.5px;
  color: #4f4f4f;
  border: 0.5px solid #d9d9d9;
  background: #f1f0eb;
  -webkit-transform: translate(20px, -50%);
      -ms-transform: translate(20px, -50%);
          transform: translate(20px, -50%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer-term .term-popup__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -2;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #f1f0eb;
  -webkit-transform: translate(-20px, -50%) rotate(45deg);
      -ms-transform: translate(-20px, -50%) rotate(45deg);
          transform: translate(-20px, -50%) rotate(45deg);
  border-radius: 10px;
  border-left: 0.5px solid #d9d9d9;
  border-bottom: 0.5px solid #d9d9d9;
}
.footer-term__text {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  color: #4f4f4f;
}
.footer .follow-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 7.143rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
}
.footer .follow-item__text {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  color: #4f4f4f;
}

.modal {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.modal__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 40.714rem;
  width: 100%;
  padding: 2.143rem 1.429rem;
  background: #fff;
  border-radius: 30px;
}
.modal__close {
  position: absolute;
  z-index: 32;
  top: 2%;
  right: 3%;
  width: 2.143rem;
  height: 2.143rem;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.modal__close span {
  display: block;
  width: 50%;
  border-radius: 2px;
  height: 2px;
  background: #4f4f4f;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal__close span::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #4f4f4f;
  border-radius: 2px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}
.modal-form__title {
  margin-bottom: 1.429rem;
  font-family: "Inter Medium", sans-serif;
  font-size: 1.714rem;
  text-align: center;
}
.modal-form__group {
  margin-bottom: 0.714rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-form__group label {
  margin-bottom: 5px;
  font-size: 1.149rem;
  font-family: "Inter Regular", sans-serif;
  cursor: pointer;
}
.modal-form__group input, .modal-form__group textarea {
  padding: 0.714rem;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}
.modal-form__group textarea {
  resize: none;
  min-height: 7.143rem;
}
.modal-form__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-form__person label {
  margin-left: 5px;
  font-size: 0.857rem;
  font-family: "Inter Light", sans-serif;
  cursor: pointer;
}
.modal-form__submit {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2.149rem;
  border-radius: 8px;
  padding: 0.714rem;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  font-family: "Inter Medium", sans-serif;
  font-size: 1rem;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
  .deals__btnHide {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1399px) {
  html {
    font-size: 13px;
  }
  .purchase-item {
    min-height: 19.231rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .features-item .features-title__text {
    font-size: 1.385rem;
  }
}
@media screen and (max-width: 991px) {
  html {
    font-size: 12px;
  }
  .types-card__title {
    margin-top: 2rem !important;
  }
  .features__block {
    min-height: 58.33rem;
  }
  .features-item {
    min-height: 16.667rem;
    margin-bottom: 1.667rem;
  }
  .detail-card {
    margin-top: 1.667rem;
  }
  .detail-card--big-hide {
    display: block;
  }
  .detail-card--big-show {
    display: none;
  }
  .detail__description {
    margin-top: 1.667rem;
  }
  .detail__description .col-6 {
    border-right: 1px solid #d9d9d9 !important;
  }
  .detail__description .col-6:nth-child(2n) {
    border-right: none;
  }
  .catalog {
    position: relative;
  }
  .catalog__wrapper {
    margin-top: 2.5rem;
  }
  .catalog__filter-btn {
    display: inline-block;
    margin-top: 2.5rem;
    border: 1px solid #4071cb;
    border-radius: 6px;
    padding: 10px 3.5rem;
    font-family: "Inter Medium", sans-serif;
    background: #4071cb;
    font-size: 1.1667rem;
    letter-spacing: 1px;
    color: #fff;
  }
  .catalog__sidebar {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(100%) scaleX(0);
        -ms-transform: translateX(100%) scaleX(0);
            transform: translateX(100%) scaleX(0);
  }
  .catalog__sidebar--active {
    -webkit-transform: translateX(0) scaleX(1);
        -ms-transform: translateX(0) scaleX(1);
            transform: translateX(0) scaleX(1);
  }
  .catalog .filter {
    position: relative;
    max-width: 315px;
    width: 100%;
    min-height: 100%;
    background: #fff;
  }
  .catalog .filter__close {
    position: absolute;
    z-index: 7;
    top: 5px;
    right: 2%;
    width: 2.5rem;
    height: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #4f4f4f;
    border-radius: 50%;
  }
  .catalog .filter__close span {
    display: block;
    width: 70%;
    height: 2px;
    background: #4f4f4f;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-radius: 2px;
  }
  .catalog .filter__close span::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #4f4f4f;
    border-radius: 2px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .services__container {
    padding-bottom: 6.5rem;
  }
  .services__card--big {
    height: 35.714rem;
  }
  .services__card--small {
    height: 17rem;
  }
}
@media screen and (max-width: 767px) {
  .hero__container {
    min-height: 660px;
  }
  .hero__container::before {
    border-radius: 0 0 30px 30px;
  }
  .header-top {
    display: none;
  }
  .menu {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: translateX(-100%) scaleX(0);
        -ms-transform: translateX(-100%) scaleX(0);
            transform: translateX(-100%) scaleX(0);
  }
  .menu--active {
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    -webkit-transform: translateX(0) scaleX(1);
        -ms-transform: translateX(0) scaleX(1);
            transform: translateX(0) scaleX(1);
  }
  .menu__wrapper {
    max-width: 330px;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    height: 100%;
  }
  .menu__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.667rem 0;
  }
  .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
  .menu-nav__link {
    display: block;
    margin: 10px 0;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .menu__close {
    position: absolute;
    top: 10px;
    right: 3%;
    z-index: 102;
    width: 2.5rem;
    height: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #4f4f4f;
    border-radius: 50%;
  }
  .menu__close span {
    display: block;
    width: 60%;
    height: 2px;
    background: #4f4f4f;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu__close span::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #4f4f4f;
    border-radius: 2px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .open-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
  }
  .open-menu span {
    display: block;
    width: 24px;
    height: 2px;
  }
  .open-menu span::before, .open-menu span::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
  }
  .open-menu span::before {
    -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  .open-menu span::after {
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
  }
  .nav {
    display: none;
  }
  .header-logo {
    padding: 1.5rem 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  .header-hideCall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-hideCall a {
    display: block;
    width: 20px;
    height: 20px;
  }
  .services__container {
    padding-bottom: 5rem;
  }
  .services__card {
    height: 23.34rem;
    margin-bottom: 10px !important;
  }
  .services__img {
    width: 100%;
    height: 120%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-55%);
        -ms-transform: translateY(-55%);
            transform: translateY(-55%);
  }
  .services__text {
    padding: 1.667rem;
  }
  .types-card__title {
    margin-top: 1rem !important;
  }
  .vehicle-tabs__item {
    font-size: 12px;
  }
  .deals-card:hover {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .deals-card:hover .card-img__back {
    color: #fff;
  }
  .deals-card:hover .card-img img {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .deals__btn {
    display: block;
    width: 100%;
    padding: 14px;
    color: #4071cb;
  }
  .deals__btnHide {
    width: 100%;
    padding: 14px;
    color: #4071cb;
  }
  .purchase__img {
    height: 37.5rem;
  }
  .purchase__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 45% 50%;
       object-position: 45% 50%;
  }
  .purchase__title {
    margin-top: 5rem;
  }
  .purchase-item {
    min-height: 0;
  }
  .purchase-item__btn {
    margin-top: 2.5rem;
  }
  .features__container {
    padding-bottom: 6rem;
  }
  .features__block {
    min-height: 65rem;
    padding-bottom: 0;
  }
  .features-item {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    min-height: 0;
  }
  .features-item .features-title__text {
    max-width: 17.5rem;
  }
  .features-item .features-title__arrow {
    display: block;
  }
  .features-item__text {
    display: none;
    margin-top: 1.667rem;
  }
  .footer-nav {
    display: none !important;
  }
  .footer-info__text {
    margin-bottom: 2.5rem;
  }
  .footer__messangers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-contacts__btn {
    width: 100%;
    margin-bottom: 3.833rem;
    text-align: center;
  }
  .footer-bottom {
    position: relative;
    padding-bottom: 4.5rem;
  }
  .footer-follow {
    margin-top: 2.5rem;
  }
  .footer-follow::before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 43%;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #d9d9d9;
  }
  .detail-slider__img {
    height: 22.5rem;
  }
  .detail .description__text {
    height: 7.2rem;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .detail .description__text--active {
    height: auto;
    margin-bottom: 1.667rem;
  }
  .detail .description__btn-more {
    display: inline-block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .purchase-item {
    min-height: 19.166rem;
  }
}
@media screen and (max-width: 575px) {
  .header .open-menu {
    padding-left: 1rem;
  }
  .header-hideCall {
    padding-right: 1rem;
  }
}